@if(isLoading){
<mat-spinner></mat-spinner>
} @else {
<div>
  <mat-list>
    <div mat-subheader>Cart</div>
    @for(item of (cart | async); track item.id){
    <mat-list-item>
      <div class="cart-item">
        <div class="left-content">
          <div mat-line>id: {{ item.bookId }}</div>
          <div mat-line>quantity: {{ item.quantity }}</div>
        </div>
        <div class="right-content">
          <button mat-icon-button color="warn" aria-label="Delete item from cart" (click)="onRemoveItem(item.bookId)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
    }
  </mat-list>
  <div style="text-align: center;">
    <h2>Total: {{totalPrice}}$</h2>
    <button mat-raised-button color="primary" (click)="onOrder()">Order Now!</button>
  </div>
</div>
}